.main-view {

    & .grid-top {


        & .grid-calendar {
            border: 1px solid black;

            & .grid-calendar-top {
                height: 55%;
            }

            & .grid-calendar-bottom {
                height: 45%;
            }
        }

        & .grid-contents {
            height: 100vh;

            & .grid-date-line {
                background-color: #78F6F6;
                height: 5%;
                border: 1px solid black;
                border-left: 0px;
            }

            & .grid-buttons {
                height: 45%;
            }

            & .grid-note-header {
                background-color: #78F6F6;
                height: 5%;
                border: 1px solid black;
                border-left: 0px;
            }

            & .grid-note {
                height: 45%;
            }
        }
    }
}